<div class="login">
	<div class="login__header">Вход в MySocialNetwork</div>
	<form class="login__form">
		<input type="text" class="login__input" name="Login" value="" placeholder="Логин или почта" autocomplete="username">
		<input type="password" class="login__input" name="Password" value="" placeholder="Пароль" autocomplete="on">
		<div>
			<input class="login__checkbox" type="checkbox" name="RememberMe" checked="" value="">
			<label for="RememberMe" class="login__checkbox-name">Сохранить вход</label>
			<div>
				<input class="flat-button login__button" type="submit" value="Войти" />
			</div>
		</div>
	</form>
</div>