<div class="registration">
	<input class="flat-button registration__button" type="submit" value="Зарегистрироваться" />
	<div class="registration__description"> Создайте аккаунт, и начните общение в нашей соцсети.</div>
</div>
