<div class="header-nav__item header-nav__search">
    <form class="search-form" method="get">
        <input class="search-form__input" type="text" placeholder="Поиск" name="search">
    </form>
</div>